@charset "UTF-8";

h1{
    font-family: Verdana, Geneva, 'Tahoma sans-serif';
    color: whitesmoke
}
.Image{
    width: 350px;
}

.Link:hover{
    opacity: 0.5;
}
a{
    color: green;   
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: large;
    color:goldenrod;
    margin-top: 0.5em;
}
main{
    float: left;
    width: 75%;
    margin-left: 1%;
}
.footer-para, .footer-links{
    font-size: small;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
.footer-para{
    margin-top: 10em;
}
body{
    background-color: darkcyan;
}