@charset "UTF-8";

h1{
    font-family: Verdana, Geneva, 'Tahoma sans-serif';
    margin-right: auto;
    margin-left: auto;
    color: darkblue;
}


p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: large;
    color: dimgray;
    border-style: solid;
    border-width: 2px;
    border-color: darkgray;    
}

.Image{
    width: 300px; 
    /* height: 150px; */
}

.Link:hover{
    opacity: 0.5;
}
a{
    color: green; 
    padding-left: 10px;
    padding-right: 10px;
}