@charset "UTF-8";
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    font-size: larger;
    color:goldenrod;
    margin-top: 0.5em;
}
body{
    background-color: darkcyan; 
}
main{
    float: left;
    width: 75%;
    margin-left: 1%;
    padding-right: 3px;
}
img{
    margin-left: 5px;
    border-left: solid 3px salmon;
    padding-left: 7px;
}
a{
    color: darkgray;
    padding-left: 10px;
    padding-right: 10px;
    font-size: medium;
}
h1{
    font-family: Verdana, Geneva, 'Tahoma sans-serif';
    color: snow;
}
.homepage-images{
    width: 200px;
    height: 200px;
    margin-left: 5px;
    margin-right: 10px;
    border-left: hidden;
    padding-left: 7px;
}
.homepage-links{
    color: darkgray;
    font-size: larger;
    margin-right: 10px;
    margin-left: 50px;
}
.anime-character-homepage-link{
    color: darkgray;
    font-size: larger;
    margin-right: 0.5%;
    margin-left: 51px;
}
.history-of-anime-link{
    color: darkgray;
    font-size: larger;
    margin-right: 0px;
    margin-left: 50px;
}
.last-link{
    color: darkgray;
    font-size: larger;
    margin-right: 0px;
    margin-left: 1px;
}
a:hover{
    opacity: 0.5;
}
.footer-para, .footer-links{
    font-size: medium;
    clear: left;
    margin-left: 1%;
    margin-right: auto;
}
.footer-para{
    margin-top: 2em;
}
